<template lang="pug">
main.profile-wrapper
  .profile-container
    button.logout(@click="logOut") Log out
    .tab
      p.tab-item(:class="{'selected': navigationStore.tab === 'my'}" @click="tabClick('my')") My Profile
      p.tab-item(:class="{'selected': navigationStore.tab === 'users'}" @click="tabClick('users')") Users Profile
    userProfile(v-if="navigationStore.tab === 'my'")
    userList(v-if="navigationStore.tab === 'users'")
</template>

<script setup lang="ts">
import { useNavigationStore } from '@/stores/navigation'
import { useUserStore } from '@/stores/user'
import userProfile from '../components/userProfile.vue'
import userList from '../components/userList.vue'
import { onMounted, getCurrentInstance } from 'vue';
import router from '@/router';
const navigationStore = useNavigationStore()
const userStore = useUserStore()
const { proxy } = getCurrentInstance() as any

function logOut() {
  try {
    proxy.$axios.post('/user/logout')
    router.push('/')
  } catch (err) {
    console.log(err)
  }
}

function tabClick(val: string) {
  navigationStore.setTab(val)
}

</script>

<style scoped lang="sass">
@import @/assets/sass/variable.sass
.profile-wrapper
  height: 100vh
  position: relative
.profile-container
  max-width: 800px
  margin: auto
  width: 100%
  padding: 2rem 0rem
  .logout
    border-radius: 30px
    border: 5px solid var(--primary)
    color: white
    background-color: var(--secondary)
    padding: 0.5rem 2rem
    margin-left: auto
    margin-right: 1rem
    margin-bottom: 2rem
    display: block
    font-size: 1.25rem
    font-weight: bold
    cursor: pointer
  .tab
    display: flex
    flex-direction: row
    width: auto
    border-radius: 30px
    overflow: hidden
    margin: 0rem 1rem
    .tab-item
      font-size: 1.5rem
      width: 50%
      text-align: center
      background-color: var(--secondary)
      margin: 0px
      padding: 0.5rem 0px
      cursor: pointer
      &.selected
        background-color: var(--primary)
        color: white
        font-weight: bold
</style>
