<template lang="pug">
#user-list
 table
  thead
    tr
      th Name
      th Email
      th Phone
      th Dob
      th Address
  tbody
    tr(v-for="user in userStore.userList" :key="user.email")
      td {{ user.name }}
      td {{ user.email }}
      td {{ user.phone }}
      td {{ user.dob }}
      td {{ user.address }}
</template>

<script setup lang="ts">
import router from '@/router';
import { getCurrentInstance, onBeforeMount, reactive } from 'vue'
import { useUserStore } from '@/stores/user'
const userStore = useUserStore()

onBeforeMount(() => {
  userStore.getUserList()
})

</script>

<style scoped lang="sass">
@import @/assets/sass/variable.sass

table
  width: 100%
  padding: 5rem 2rem 0rem
  thead
    tr
      box-shadow: 0 0 8px #ccc
      th
        width: 20%
        text-overflow: clip
        text-align: center
        font-weight: bold
        font-size: 1.25rem
        padding: 1rem 0.5rem
  tbody
    tr
      box-shadow: 0 0 4px var(--primary)
      td
        width: 20%
        text-overflow: clip
        padding: 0.5rem
        text-align: center
    tr:nth-of-type(2)
      box-shadow: 0 0 4px var(--secondary)

</style>
    