<template lang="pug">
#user-profile
  .form-container.standard
    .row(style="margin-top: 3rem")
      .input-group
        label(for="name") Name
        input#name(type="name" disabled :value="userStore.name")
      .input-group
        label(for="email") Email
        input#email(type="text" disabled :value="userStore.email")
    .row
      .input-group
        label(for="phone") Phone
        input#phone(type="phone" disabled :value="userStore.phone")
      .input-group
        label(for="dob") Date Of Birth
        input#dob(type="text" disabled :value="userStore.dob")
    .input-group.full
      label(for="address") Address
      textarea#address(type="number" disabled rows=3) {{ userStore.address }}
</template>

<script setup lang="ts">
import router from '@/router';
import { getCurrentInstance, reactive } from 'vue'
import { useUserStore } from '@/stores/user'
const userStore = useUserStore()

</script>

<style scoped lang="sass">
@import @/assets/sass/variable.sass



</style>
    